/*
#CCAC40 - yellow
#D85E40 - red
#232322 - Black
#778F7F - green
#F5ECDB - cream
#E8A69D -Pink

/******** fonts ********/

@font-face{
    font-family: "fatFaceReg";
    src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}
@font-face{
    font-family: "righteous";
    src: url(../assets/fonts/Righteous-Regular.ttf);
}
@font-face{
    font-family: "jose";
    src: url(../assets/fonts/JosefinSlab-VariableFont_wght.ttf);
}
@font-face{
    font-family: "freda";
    src: url(../assets/fonts/FredokaOne-Regular.ttf);
}
@font-face{
    font-family: "poiret";
    src: url(../assets/fonts/PoiretOne-Regular.ttf);
}
@font-face{
    font-family: "rale";
    src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}

/********General Styling ********/

* {
    margin: 0px;
    font-family: "jose";
    color: #232322;
    line-height: 1.8em;
    letter-spacing: 1px;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'poiret';
    letter-spacing: .1em;
    line-height: 1.4em;
}
p {
    font-size: 1.2em;
}
main {
    position: relative;
}

button:disabled, button:disabled:hover{
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
button{
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #E8A69D ;
    margin-top: 40px;
    cursor: pointer;  
}
button:hover{
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 100%;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #778F7F;	
    border-style: none;
    color: white;
}

/******** Header and Footer ********/
header {
    position: fixed;
    width: 100%;
    z-index: 12;
}
#headerContainer {   
    width: 100%;
    height: 120px;
    display:flex;
    align-items: center;    
    transition: background-color 0.5s linear;
}
.mainHeader {
    
}
.headerColor{  
    width: 100%;
    height: 120px;
    display:flex;
    align-items: center; 
    transition: background-color 0.5s linear;
}
.pinkHeader {
    background-color: #E8A69D;
    transition: background-color 0.5s linear;
}
.white {
    background-color: white;
    transition: background-color 0.5s linear;
}

#headerLogo {
    margin-left: 10%;
}
#headerLogo img{
    height: 80px;
    width: auto;
}
#headerMenu {
    margin: auto;
    margin-right: 10%;
}
#dropdownContainer{
    display: flex;
    position: relative;
}
.closeMenu {
    margin:  40px;
}
.spinIn{
    animation:spin 1s ease-out;
}
.menuButton {
    cursor: point;
}
.dropdown{
    position: absolute;
    height: 100vh;
    width:40%;
    background-color:#232322;
    margin-left: 100vw;
    transition: margin 0.5s linear;
    z-index: 10;  
}
.menuOne, .menuTwo, .menuThree, .menuFour, .menuFive, .menuSix, .menuSeven  {
    color: white;
    border-bottom: solid 1px #E8A69D;
    width: 50%;
    margin-left: 600px;
}
.menuOne {
    transition: margin 0.5s linear;
}
.menuTwo {
    transition: margin 0.7s linear;
}
.menuThree{
    transition: margin 0.9s linear;
}
.menuFour {
    transition: margin 1.1s linear;
}
.menuFive {
    transition: margin 1.3s linear;
}
.menuSix {
    transition: margin 1.5s linear;
}
.menuSeven {
    transition: margin 1.7s linear;
}

.menuOne.menuIn, .menuTwo.menuIn, .menuThree.menuIn, .menuFour.menuIn, .menuFive.menuIn, .menuSix.menuIn, .menuSeven.menuIn {
    margin-left: 2%;
}

.dropdownTwo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #23232280;
    margin-left: 100vw;
    transition: margin 0.5s linear;
    z-index: 5;

}
.dropdownTwo.dropdownTwoMenu {
    margin-left: 0%;
}
.dropdown.dropdownMenu {
    width: 40%;
    margin-left: 70%;
}
#footerContainer {
    height: 300px;
    background-color: #232322;
    display: grid;
    grid-template-columns: 24% auto 24% auto 24% auto 24%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    transform: translate(0 , -10px); 
    
}
.footerInfo {
    margin: auto;
}
.footerInfo p, .footerInfo h3, .openTimes span, .footerInfo span {
    color: white;
}
#timesContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-right:30px;
}
.openTimes {
    width: 100%;
    text-align: left;
    color: white;
}
.times {
    text-align: right;
}
.verticalBreak {
    height: 80%;
    width: 1px;
    background-color: #E8A69D;
    margin: auto;

}
.socialImages {
    width: 50px;
    height: auto;
}
#logoWhite {
    display: none;
}

/*************************** Main Landing Page ******************************/

/******** Hero ********/

#heroContainer  {
    z-index: 0;
    position: relative;
}
.overlay{
    position: absolute;
}
.fixImage {
    position: fixed;  
    margin:auto;
    height: auto;   
    width: 100vw; 
}
#fixImageTwo {
    opacity: 1;
    height: auto;   
    width: 100vw; 

}
#shift {
    transform: translate(0 , -10px); 
    position: relative;
    z-index: 1; 
}
#welcomeContainer {
    position: relative;
    margin-top: 15%;
    left: 60%;
    z-index: 2;
    width: 30%;
    border-radius: 10px;  
    margin-bottom: 30%;
}
#welcomeContainer span {
    color: #778F7F;
    font-family: 'poiret';
    letter-spacing: .1em;
}
#welcomeContainer h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    letter-spacing: .1em;
}
#welcomeContainer p {
    font-size: 1.5em;
    line-height: 1.5em;
}
.content {
    position: relative;
    z-index: 3;
    height: 300px;
    padding: 20px;
    background-color: #232322bf;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content h2{
    margin: 20px; 
    margin-top: 80px;
    color: white;
}
.content p{   
    color: white;
}

/****** get creative container ******/

#getCreativeContainer img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
#getCreativeInnerContainer {
    position: relative;   
    height: 100vh;
}
#getCreativeCopy {
    background-color: #232322;
    border-radius: 20px;
    width: 450px;
    height: 250px;
    padding: 30px; 
    position: relative; 
    left: 150px;
    top: 240px;

}
#getCreativeContainer p, #getCreativeContainer h2 {
    color: white;
}
#getCreativeContainer h2{
    margin-bottom: 20px;
}

/******** home inspiration ********/

.ranges {
    height: auto;
    position: relative;
    z-index: 1; 
    width: 100%;  
}
.rangeTitle {
    height: 750px;
    width: 100%;
    background-color: #23232280;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.rangeTitle h1 {
    font-size: 2em;
    letter-spacing: .1em;
    color: white;
    width: 60%;
    text-align: center;
}
.rangeTitle p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: white;
    width: 80%;
    text-align: center;
    margin-top: 40px;
}
.rangeContainer {
    background-color: white; 
    min-height: 700px;
    padding: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.productImage {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.productImageOverlay {
    position: relative;
}
.imageOver {
    position: absolute;
}
.imageOverlay {
  opacity: 0;
  transition: .5s ease;
}
.productImageOverlay:hover .imageOverlay {
    opacity: 1;

}
.productImage img {  
    height: auto;
    width: 100%;
}
.productInfo {
    margin-top: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.productInfo h4{
    text-align: center;
}
.productInfo p {
    margin-top: 30px;
}
.collections{
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; 
}
.productInfo button{
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 60px;
    width: 80%;
}

/******** Office ********/

/******** Social ********/

#socialContainer img {
    width: 100%;
    height: auto;
}
/******** Back to top ********/
#backToTop {
    scroll-behavior: smooth;
  }

/***************************    buildYourOwn.html    ***************************/

.designYourOwn{
 background-image: url('../assets/products/heroBanners/threeTierDinning.jpg');
 background-repeat: no-repeat;
 background-size: 100% auto;
 background-color: white;
 justify-content: start;
}
.designYourOwn h1{
    color: #232323;
    margin-top: 5%;
}
.designYourOwn p {
    color: #232322;
}


/***************************   homeSelection.html   ***************************/

.homeSelection {
    background-image: url('../assets/products/heroBanners/twoTierDinning.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    justify-content: start;   
    align-items: flex-start;
}

/***************************   officeSelection.html   ***************************/

.office{
    background-image: url('../assets/products/heroBanners/twoTierOffice.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #232322;
    justify-content: start; 
    align-items: flex-start;
   }
.office h1, .homeSelection h1 {
    margin-top: 15%;
   }
.office h1, .office p, .homeSelection p, .homeSelection h1 {
    color: #232322;
    width: 30%; 
    margin-left: 5%;
}

/***************************   productDetails.html & productSetDetails.html  ***************************/

.mainProductContainer{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.imageContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.specContainer {
    width: 40%;
    padding-right: 8%;
    padding-left: 3%;
    padding-top: 0px;
}
.smallDetailImage{
    width: 15%;
    cursor: pointer;
}
.smallDetailImage img {
    width: 100%;  
}
.smallImagesContainer {
    display: flex;
    justify-content: center;
}
.mainCloseupImageContainer {
    height: auto;
    width: 80%; 
    margin: auto;
    margin-bottom: 10%;
    margin-top: 0px;
    display: flex;
    overflow-x: auto;
}
#setImageOne {
    width: 100%;
    height: auto;
}

.productHeaderOne {
    margin-bottom: 20px;
}
#productSetTitle {
    font-size: 2em;
}
.productHeader, .cost {
    margin-bottom: 20px;
    margin-top:40px;
    border-bottom: 1px solid #232322;
    width: 50%;
    padding-bottom: 10px;
}
.productHeaderSmall {
    padding-bottom: 5px;
    width: 30%;
}
.addToCartForm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.addToCartForm input{
    width: 30%;
    height:  20px;
    padding: 0px;
}
select {
    height: 25px;
    width: 31%;
}
.addToCartForm label {
    margin-top: 20px;
}
.slide {
width: 100%;
flex-shrink: 0;
height: 100%;
}
.margin {
    margin-bottom: 40px;
}
#optSpecCareContainer, .optSpecCareCont {
    width: 40%;
    margin-left: 52.5%;
}
.optSpecCareCont {
    border-top: 1px solid #232322;
    border-bottom: 1px  solid #232322;
    height: 30px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

#interestedIn {
    padding-top: 50px; 
}
article {
    height: 1px;
    overflow-y: hidden;
    transition: height 0.5s linear;
}
article.expanded {
    height: 1800px;
}
.moreInformation{
    margin-left: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.moreInformation p {
    font-size: 15px;
}
.plusMinus {
    margin-left: 20px;
    height: 20px;
}
#minus {
    display: none;
}
/***************************   contactUs.html   ***************************/

.contactBanner {
    position: relative;  
}
.contactImage {
    position: relative;
    z-index: 0;
}
.contactImageTwo {
    position: absolute;
}
.contactBannerText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    height:  auto;
    width: 100vw;
    position: absolute;
}
.contactBannerText span {
    color: #778F7F;
    font-family: 'poiret';
    letter-spacing: .1em;
}
.contactBannerText  h1 {
    width: 35%;
    margin-right: 10%;
    font-size: 2em;
    margin-top: 20%;
    margin-bottom: 30px;
    letter-spacing: .1em;
}
.contactBannerText  p {
    width: 35%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
}
.contactImage img {
    width: 100vw; 
    height: auto;
}
iframe {
    width: 600px;
      height: 450px;
      border: 0px;
}

/***************************   staff.html   ***************************/

.staffProfile {
    width:80%;    
    height: auto;
    margin: auto;
}
.leftSet {
    display: grid;
    grid-template-rows: 2% 6% 70%;
    grid-template-columns: 25% 70%;
    grid-gap: 5%;

}
.rightSet {
    display: grid;
    grid-template-rows: 2% 6% 80%;
    grid-template-columns: 70% 25%;
    grid-gap: 5%;
 
}
.staffPic {
    width: 100%;
    height: auto;
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: 10px 20px 50px  #232322;
}
.staffLeft {
    grid-column-start: 1;
    grid-column-end: 2;
}
.staffRight {
    grid-column-start: 2;
    grid-column-end: 3;   
}
.staffProfile h1 {
    font-size: 2em;
}

.staffProfile h1 {
    grid-row-start: 1;
    grid-row-end: 2;
}
.staffProfile h2 {
    grid-row-start: 2;
    grid-row-end: 3;
}
.staffProfile p {
    grid-row-start: 3;
    grid-row-end: 4;
    height: auto;
    margin-bottom: 20%;
}
.staffLogoBreak {
    height: 100px; 
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}
.logoStaff{
    height: 100%;
    width: auto;
}


/********** Animation **********/


@keyframes spin {
  100% {transform: rotate(90deg);}
  }
  

/********** Media Queries **********/

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 550px){

}